@charset "UTF-8";
*{
    margin: 0;
    padding: 0;

}
body{
    width: 100vw;
    height: 100vh;
    background: black no-repeat top center;
    background-size: cover;
}
a{
    margin: auto;
    height: 50px;
    width: 30px;
    background-color: black;
    color: white;
    display: inline-block;
}