@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
html, body{
    height: 100vh;
    width: 100vw;
    
}
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    height: 454px;
    width: 225px;
    
}
#tela{
    position: relative;
    top: 58px;
    left: 16px;
    width: 193px;
    height: 341px;
}